//panel background light
$color1 = #4b4b4b

//panel background middle
$color2 = #404040

//panel background dark
$color3 = #393939

//panel borders dark
$color4 = #282828

//panel borders light
$color5 = #3c3c3c

//breadcrumb background
$color6 = #d4d4d4

//breadcrumb button active
$color7 = #e3e3e3

//breadcrumb border dark
$color8 = #616161

//breadcrumb border light
$color9 = #888888

//form elements
$color10 = #636363

//form elements 2
$color15 = #707070

//form elements 3
$color19 = #343434

//form elements 4
$color20 = #393939

//icons default
$color11 = #b0b0b0

//icons active
$color12 = #ffffff

//text - titles and labels
$color13 = #cfcfcf

//text - passive
$color17 = #858585

//page area
$color14 = #282828

//hover background
$color16 = #7DB9FC

//tooltip background
$color18 = #437db7
