// Common UI styles
html
  height 100%
  
body
  font-family Helvetica, Arial, Tahoma, sans-serif
  background $color14
  min-height:100%
  height 100%
  line-height 1
  margin 0 !important
a
  &:hover 
  &:focus
    text-decoration none
    outline none
    color inherit

ul
  padding 0
  margin 0
  list-style-type none

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  margin 0
  line-height 1

dl
dd
dt
  margin 0

input[type="search"]
  box-sizing border-box

input::-ms-clear {
  display: none;
}

p 
  line-height 1.6em
  margin 0

.component-div
  height 100%
  background #656565
  box-sizing border-box
  padding 50px
  
  p
    color $color13
    font-size 11px
  
.component-title
  font-size 11px
  color $color13
  margin-bottom 20px
  
//native scrollbar css
::-webkit-scrollbar
  width .9em
  
::-webkit-scrollbar-track
  background $color2
  border-left 1px solid $color2

::-webkit-scrollbar-thumb
  background-color $color1
  border-left 1px solid $color2