.label
  &--regular
    font-size 14px
    font-weight 700
    color $tundora
    display block
    margin 0 0 10px
    
  a
  	color $tundora
  	text-decoration underline
  	
  	&:hover
  		text-decoration underline
