.section
  &-grey
    background-color $menu_border

  &-white
    background-color $white

  &-lightgrey
    background-color $grey_light

  &--plus-adventage
    position relative
    z-index 1
    overflow hidden
    height 350px
    &.bottom-icon
      height 377px
      margin-bottom -27px

    .row-length
      height 270px

      .pgs-table
        height 100%

      > [class*='col-']
        height 100%

  &-box
    background-color $white
    box-shadow 1px 1px 0px 0px rgba(5, 5, 6, 0.14)
