.tooltipster
  &-noir
    border 0
    color $dark_gray
    margin-top -2px
    
    .tooltipster-arrow
      z-index 1
    
    .tooltipster-arrow-top span
      width 0 !important
      height 0 !important
      border-style solid !important
      border-width 16px 8px 0 8px !important
      border-color #ffffff transparent transparent transparent !important
      
    .tooltipster-arrow-bottom span
      width 0 !important
      height 0 !important
      border-style solid !important
      border-width 0 8px 16px 8px !important
      border-color transparent transparent #ffffff transparent !important

  &-content
    border none
    background #fff
    border-radius 3px
    max-width 250px
    font-size 12px
    line-height 1.4em
    padding 10px
    text-align center
    color $dark_gray
    box-shadow: 0px 0px 1px 0px rgba(35,35,35,0.48);
    
  