//panel background light
$color1 = #4b4b4b

//panel background light-ish
$color24 = #434343

//panel background middle
$color2 = #404040

//panel background dark
$color3 = #393939

//panel borders dark
$color4 = #282828

//panel borders light
$color5 = #3c3c3c

//panel borders light
$color5_4 = rgba(60,60,60,.4)

//border mid
$color25 = #454545

//breadcrumb background
$color6 = #d4d4d4

//breadcrumb button active
$color7 = #e3e3e3

//breadcrumb border dark
$color8 = #616161

//breadcrumb border light
$color9 = #888888

//form elements
$color10 = #636363

//form elements 2
$color15 = #707070

//form elements 3
$color19 = #343434

//form elements 4
$color20 = #393939

//form elements 5
$color21 = #606060

//icons default
$color11 = #b0b0b0

//icons active
$color12 = #ffffff

//text - titles and labels
$color13 = #cfcfcf
$color13_8 = rgba(207,207,207,.8)

//text - passive
$color17 = #858585

//page area
$color14 = #282828

//hover background
$color16 = #7DB9FC
$color16_6 = rgba(125,185,252,.6)

//tooltip background
$color18 = #437db7
$color18_hover = #5385b7

//global color
$color23 = #ecae5d

//text shadow 
$color22 = rgba(0, 0, 0, 0.3)
$text_shadow = 0 -1px $color22

//alert
$color26 = #bf0000

$color27 = #a7637f
$color27_hover = #b16987

// info 
$color28 = #ffbb45

$color29 = #5c5c5c

$color30 = #303030

$color31 = #595959

$color32 = #468847
$color32_hover = #53a154

//outline
$color33 = #178df7

//color overlay
$color_overlay = rgba(57, 57, 57, 0.8)

//box shadow dark
$box_shadow_color = rgba(0, 0, 0, 0.3)
$box_shadow_color2 = rgba(0, 0, 0, 0.1)

//box-shadow light
$box_shadow_light = 0 1px 0 rgba(255, 255, 255, 0.1)

$color_go = #628c76

//$workspace = #121622

$workspace = #efeff1
