.g
  width 100%
  &:before,
  &:after
    display table
    line-height 0
    content: ""

  &:after
    clear both

.g__col
  display block
  float left

.g__10
  width 10%
.g__20
  width 20%
.g__25
  width 25%
.g__30
  width 30%
.g__33
  width 33%
.g__34
  width 34%
.g__3333
  width 33.33%
.g__40
  width 40%
.g__50
  width 50%
.g__60
  width 60%
.g__70
  width 70%
.g__80
  width 80%
.g__90
  width 90%
.g__100
  width 100%