.title
	&--regular-h2
		font-size 18px
		font-weight 700
		color $shark
		line-height 1.1em
		margin 0 0 10px 
		
	&--big-h2
		Gotham(24px, 700)
		font-size 24px !important
		font-weight 700 !important
		color $shark !important
		line-height 1.1em !important
		margin 0 0 10px !important
		
	&--regular-h3
		font-size 14px
		color $light_grey
		line-height 1.1em
		margin 0 0 10px 	
	
	&--grey-h1
		Gotham(24px, 700)
		color $tundora
		line-height 1.1em
		margin 0 0 10px

.default-content-area
	h1
		Gotham(24px, 700)
		color $shark
		line-height 1.1em
		margin 0 0 10px 
		
	h2
		font-size 18px
		font-weight 700
		color $shark
		line-height 1.1em
		margin 0 0 10px 
		
	h3
		font-size 16px
		color $light_grey
		line-height 1.1em
		margin 0 0 10px 
