sizes = 2 4 5 6 7 8 9 10 12 13 14 15 18 20 25 30 35 40 45 50 55 60 70 80 90 100 120 150 200 115 130 170
for num in sizes
  .m-{num}
    margin unit(num, px) !important
  .m-h-{num}
    margin-left unit(num, px) !important
    margin-right unit(num, px) !important
  .m-v-{num}
    margin-top unit(num, px) !important
    margin-bottom unit(num, px) !important
  .m-b-{num}
    margin-bottom unit(num, px) !important
  .m-t-{num}
    margin-top unit(num, px) !important
  .m-l-{num}
    margin-left unit(num, px) !important
  .m-r-{num}
    margin-right unit(num, px) !important
  .p-{num}
    padding unit(num, px) !important
  .p-h-{num}
    padding-left unit(num, px) !important
    padding-right unit(num, px) !important
  .p-v-{num}
    padding-top unit(num, px) !important
    padding-bottom unit(num, px) !important
  .p-b-{num}
    padding-bottom unit(num, px) !important
  .p-t-{num}
    padding-top unit(num, px) !important
  .p-l-{num}
    padding-left unit(num, px) !important
  .p-r-{num}
    padding-right unit(num, px) !important

