.wpd-workspace

  .wd-widget-map
    height 300px

    &.wd-widget-map-error
    	background #ccc
    	display table
    	width 100%
    	
    	.gmap-error
    		display table-cell
    		font-weight bold
    		width 100%
    		height 100%
    		vertical-align middle
    		text-align center