.col-10
  clearfix()
  
  > .col,
  > li,
  > .wpd-button
    width 10%
  
.col-9
  clearfix()
  
  > .col
  > li,
  > .wpd-button
    float left
    width 11.11%

.col-8
  clearfix()
  
  > .col
  > li,
  > .wpd-button
    float left
    width 12.5%
  
.col-7
  clearfix()
  
  > .col
  > li,
  > .wpd-button
    float left
    width 14.28%
  
.col-6
  clearfix()
  
  > .col
  > li,
  > .wpd-button
    float left
    width 16.66%
  
.col-5
  clearfix()
  
  > .col
  > li,
  > .wpd-button
    float left
    width 20%
  
.col-4
  clearfix()
  
  > .col
  > li,
  > .wpd-button
    float left
    width 25%
  
.col-3
  clearfix()
  
  > .col
  > li,
  > .wpd-button
    float left
    width 33.33%
  
.col-2
  clearfix()
  
  > .col
  > li,
  > .wpd-button
    float left
    width 50%
  
.col-1
  clearfix()
  
  > .col
  > li,
  > .wpd-button
    float left
    width 100%
    
.wpd-cols
  width 100%
  clearfix()
  
  > .col-0-5
    float left
    width 5%
  
  > .col-1
    float left
    width 10%
  
  > .col-2
    float left
    width 20%
  
  > .col-2-5
    float left
    width 25%
    
  > .col-3
    float left
    width 30% 
    
  > .col-3-5
    float left
    width 35% 
    
  > .col-4
    float left
    width 40% 
  
  > .col-3-8
    float left
    width 38%
  
  > .col-4-5
    float left
    width 45%
  
  > .col-5
    float left
    width 50%
  
  > .col-5-5
    float left
    width 55%
    
  > .col-6 
    float left
    width 60%
    
  > .col-6-5 
    float left
    width 65%
    
  > .col-6-2 
    float left
    width 62%
    
  > .col-7 
    float left
    width 70%
    
  > .col-8 
    float left
    width 80%
    
  > .col-9
    float left
    width 90%
    
  > .col-9-5
    float left
    width 95%
    
  > .col-10
    float left
    width 100%
    
  > .col-45
    float left
    width 45px
    
  > .col-88
    float left
    width 88px
    
[class^='col']
  box-sizing border-box
  
.col-group
  margin-left -1px
  margin-right -1px
  
  > li,
  > .col
    padding-left 1px
    padding-right 1px
    box-sizing border-box