.wpd-info
	clear both
	position relative
	padding-left 22px
	padding-right 3px
	font-size 11px
	line-height 1.2em
	margin-top 10px
	margin-bottom 10px
	
	&__icon
		position absolute
		top 2px
		left 2px
		font-size 12px
		
	&--warning
		color $color23
		