.wpd-title-field
	clearfix()
	position relative
	
	.wpd-label
		float left
		line-height 1
		
	.wpd-button-group
		position absolute
		right 0
		bottom -1px
		
		.wpd-button
			border-bottom-right-radius 0
			border-bottom-left-radius 0
			