.wpd-inset-box
  clearfix()
  width 100%
  background $color24
  padding 7px 
  margin 0 auto 
  box-sizing border-box
  border 1px solid $color19
  box-shadow $box_shadow_light
  border-radius 2px
  margin-bottom 10px
  color $color13
  font-size 11px
  
  &:last-child
  	margin-bottom 0