.wpd-selector-info 
	background $color1
	color $color13
	border-radius 3px
	margin 60px 4px
	padding 10px 15px 15px
	box-sizing border-box
	font-size 11px
	
	&__main-icon 
		text-align center
		
		i
			margin 10px 0 20px
			font-size 25px
			
	p 
		text-align center
		font-size 11px
		color $color13
		text-shadow $text_shadow
		
	&__foot
		margin 10px -15px 0
		border-top 1px solid $color3
		padding 10px 15px 0
		