.cursor-list
	border-bottom 1px solid $color5
	margin-bottom 10px
	
	&:last-child
		border-bottom 0
		margin-bottom 0
		
	li 
		font-size 16px
		text-align center
		padding 10px 0
		
		&.cursor-default:hover
			cursor default
			
		&.cursor-none
			opacity .4
			&:hover
				cursor none
		
		&.cursor-pointer:hover
			cursor pointer
			
		&.cursor-not-allowed:hover
			cursor not-allowed
			
		&.cursor-wait:hover
			cursor wait
			
		&.cursor-progress:hover
			cursor progress
			
		&.cursor-help:hover
			cursor help
			
		&.cursor-cell:hover
			cursor cell
			
		&.cursor-crosshair:hover
			cursor crosshair
			
		&.cursor-text:hover
			cursor text
			
		&.cursor-vertical-text
			transform rotateZ(90deg)
			
			&:hover
				cursor vertical-text
			
		&.cursor-grab:hover
			cursor -webkit-grab
			cursor grab 
			
		&.cursor-grabbing:hover
			cursor -webkit-grabbing
			cursor grabbing 
			
		&.cursor-alias
			transform rotateZ(-47deg)
			
			&:hover
				cursor alias 
				
		&.cursor-copy:hover
			cursor copy
				
		&.cursor-move:hover
			cursor move
				
		&.cursor-zoom-in:hover
			cursor zoom-in
				
		&.cursor-zoom-out:hover
			cursor zoom-out
				
		&.cursor-col-resize
			transform rotateZ(45deg)
			
			&:hover
				cursor col-resize
				
		&.cursor-row-resize
			transform rotateZ(135deg)
			
			&:hover
				cursor row-resize
				
		&.cursor-nesw-resize
			transform rotateZ(-45deg)
			
			&:hover
				cursor nesw-resize
				
		&.cursor-nwse-resize
			transform rotateZ(45deg)
			
			&:hover
				cursor nwse-resize
				
		&.cursor-ew-resize:hover
			cursor ew-resize
				
		&.cursor-ns-resize:hover
			cursor ns-resize
				
		&.cursor-n-resize:hover
			cursor n-resize
				
		&.cursor-w-resize:hover
			cursor w-resize
				
		&.cursor-s-resize:hover
			cursor s-resize
				
		&.cursor-e-resize:hover
			cursor e-resize
				
		&.cursor-nw-resize
			transform rotateZ(-45deg)
			
			&:hover
				cursor nw-resize
				
		&.cursor-ne-resize
			transform rotateZ(45deg)
			
			&:hover
				cursor ne-resize
				
		&.cursor-sw-resize
			transform rotateZ(45deg)
			
			&:hover
				cursor sw-resize
				
		&.cursor-se-resize
			transform rotateZ(-45deg)
			
			&:hover
				cursor se-resize
				

				
