.wpd-input-text-with-color
	position relative
	
	input.wpd-input-text
		padding-left 30px
		
	.wpd-color
		position absolute
		left 1px
		top 1px
		width 21px
		height 21px
		border-top-left-radius 2px
		border-bottom-left-radius 2px
		border-right-color $color4
		border-bottom-color $color4
		background-color transparent
		cursor pointer