.wpd-fieldset
	margin-top 20px
	background $color1
	padding 13px 10px 8px
	border 1px solid $color5
	border-radius 3px
	width 100%
	box-sizing border-box
	position relative
	
	&__title
		position absolute
		top -12px
		left 0
		width 100%
		text-align center
		
		&__frame
			display inline-block
			padding 0 7px
			background $color1
			
			
	