.wpd-checkbox
	font-size 11px
	color $color13
	padding-left 15px
	line-height 14px
	cursor pointer
	opacity .9
	after()
	
	&:after
		font-family 'FontAwesome'
		content "\f0c8"
		position absolute
		left 0
		top 0
		border-radius 2px
		font-size 12px
	
	&:hover
		opacity 1
		
	&--active
		opacity 1
		
		&:after
			content "\f14a"
			
.wpd-radio
	font-size 11px
	color $color13
	padding-left 15px
	line-height 14px
	cursor pointer
	opacity .9
	after()
	
	&:after
		font-family 'FontAwesome'
		content "\f10c"
		position absolute
		left 0
		top 0
		border-radius 2px
		font-size 12px
		
	&:hover
		opacity 1
		
	&--active
		opacity 1
		
		&:after
			content "\f192"
			
	&--active-b
		opacity 1
		
		&:after
			content "\f111"