.wpd-right-sidebar
	position fixed
	width 240px
	height 100%
	right 0
	top 0px
	background-color $color1 
	border-left 1px solid $color4
	padding 0
	z-index 15
	font-size 11px
	user-select none  
	
.wpd-left-sidebar
	background-color $color1
	height 100%
	left 0
	top 0
	position fixed
	width 35px
	z-index 16
	border-right 1px solid $color4
	user-select none  
	
.wpd-bottom-bar
	height 29px
	width calc(100% - 35px - 241px)
	position fixed
	top auto
	left 35px
	bottom 0
	background $color6
	z-index 13
	color #4d4d4d
	font-size 11px
	line-height 15px
	border-top 1px solid $color8
	user-select none  
	
.wpd-top-bar
	left 0
	padding-left 35px
	font-size 11px
	text-shadow 0 -1px rgba(0, 0, 0, 0.3)
	position fixed
	width calc(100% - 35px - 241px)
	height 34px
	background $color1
	border-bottom 1px solid $color4
	top 0
	z-index 14
	user-select none  
	
.wpd-side-bottom
	width 100%
	position absolute
	bottom 0
	left 0

/*	
*.unselectable {
 	-moz-user-select: -moz-none;
 	-khtml-user-select: none;
 	-webkit-user-select: none;

	
	// Introduced in IE 10.
	// See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	
  -ms-user-select: none;
  user-select: none;
}
*/