.wpd-input-text-with-button
	position relative
	
	input.wpd-input-text
		padding-left 30px

		.wpd-icon-picker & 
			padding-left 40px
		
	.wpd-button
		position absolute
		left 0
		top 0
		width 23px
		border-top-left-radius 2px
		border-bottom-left-radius 2px
		border-right-color $color4
		border-bottom-color $color4
		cursor pointer

		.wpd-icon-picker &
			height 30px
			width 30px